Repository RealEskalate/a2sv-g5-project-phase-starter-project, pull requests merged in 2024-08, with the labels that each got.

#185 Define Project Folder Structure #108
  backend/ASTU-backend-group-4/auth/auth.go
  backend/ASTU-backend-group-4/auth/mongodb/auth_storage.go
  backend/ASTU-backend-group-4/auth/usecase.go
  backend/ASTU-backend-group-4/blog/blog.go
  backend/ASTU-backend-group-4/blog/mongodb/blog_storage.go
  backend/ASTU-backend-group-4/blog/usecase.go
  backend/ASTU-backend-group-4/chat/chat.go
  backend/ASTU-backend-group-4/chat/mongodb/chat_storage.go
  backend/ASTU-backend-group-4/chat/usecase.go
  backend/ASTU-backend-group-4/cmd/api/main.go
  backend/ASTU-backend-group-4/internal/http/gin/auth.go
  backend/ASTU-backend-group-4/internal/http/gin/blog.go
  backend/ASTU-backend-group-4/internal/http/gin/chat.go
  backend/ASTU-backend-group-4/internal/http/gin/route.go
Labels: init, ASTU-Backend-G4

#188 Aastu.backend.g7.abel
  .gitignore
  backend/AASTU-backend-group-7/Config/env.go
  backend/AASTU-backend-group-7/Delivery/main.go
  backend/AASTU-backend-group-7/Domain/domain.go
  backend/AASTU-backend-group-7/Infrastructure/email_service/email_service.go
  backend/AASTU-backend-group-7/Infrastructure/jwt_service/jwt_service.go
  backend/AASTU-backend-group-7/Mongo/mongo.go
  backend/AASTU-backend-group-7/Repositories/repo.go
  backend/AASTU-backend-group-7/UseCases/usecase.go
  backend/AASTU-backend-group-7/Utils/utils.go
  backend/AASTU-backend-group-7/common.txt
  backend/AASTU-backend-group-7/go.mod
  backend/AASTU-backend-group-7/go.sum
  backend/AASTU-backend-group-7/run.go
Labels: AASTU-Backend-G7

#232 chore: Remove unused files and folders
  backend/AASTU-backend-group-6/Delivery/routers/user_route.go
  backend/AASTU-backend-group-6/Usecases/user_usecase.go
  backend/AASTU-backend-group-6/delivery/controllers/handle_response.go
  backend/AASTU-backend-group-6/delivery/controllers/user_controller.go
  backend/AASTU-backend-group-6/delivery/routes/route.go
Labels: AASTU-Backend-G6

#267 add validation for domain, setup the route and created endpoints
  backend/AASTU-backend-group-6/Delivery/routers/blog_router.go
  backend/AASTU-backend-group-6/Delivery/routers/route.go
  backend/AASTU-backend-group-6/Delivery/routers/user_route.go
  backend/AASTU-backend-group-6/Domain/post_domain.go
  backend/AASTU-backend-group-6/Domain/signup.go
  backend/AASTU-backend-group-6/Domain/user_domain.go
  backend/AASTU-backend-group-6/go.mod
Labels: AASTU-Backend-G6

#299 Organize Project Directory Structure According to Clean Architecture
  backend/ASTU-backend-group-2/api/controller/blog_controller.go
  backend/ASTU-backend-group-2/api/controller/login_controller.go
  backend/ASTU-backend-group-2/api/controller/profile_controller.go
  backend/ASTU-backend-group-2/api/controller/profile_controller_test.go
  backend/ASTU-backend-group-2/api/controller/refresh_token_controller.go
  backend/ASTU-backend-group-2/api/controller/signup_controller.go
  backend/ASTU-backend-group-2/api/middleware/jwt_auth_middleware.go
  backend/ASTU-backend-group-2/api/route/blog_route.go
  backend/ASTU-backend-group-2/api/route/login_route.go
  backend/ASTU-backend-group-2/api/route/profile_route.go
  backend/ASTU-backend-group-2/api/route/refresh_token_route.go
  backend/ASTU-backend-group-2/api/route/route.go
  backend/ASTU-backend-group-2/api/route/signup_route.go
  backend/ASTU-backend-group-2/bootstrap/app.go
  backend/ASTU-backend-group-2/bootstrap/database.go
  backend/ASTU-backend-group-2/bootstrap/env.go
  backend/ASTU-backend-group-2/cmd/main.go
  backend/ASTU-backend-group-2/domain/blog.go
  backend/ASTU-backend-group-2/domain/error_response.go
  backend/ASTU-backend-group-2/domain/jwt_custom.go
  backend/ASTU-backend-group-2/domain/login.go
  backend/ASTU-backend-group-2/domain/profile.go
  backend/ASTU-backend-group-2/domain/refresh_token.go
  backend/ASTU-backend-group-2/domain/signup.go
  backend/ASTU-backend-group-2/domain/success_response.go
  backend/ASTU-backend-group-2/domain/user.go
  backend/ASTU-backend-group-2/go.mod
  backend/ASTU-backend-group-2/go.sum
  backend/ASTU-backend-group-2/internal/tokenutil/tokenutil.go
  backend/ASTU-backend-group-2/mongo/mongo.go
  backend/ASTU-backend-group-2/repository/blog_repository.go
  backend/ASTU-backend-group-2/repository/blog_repository_test.go
  backend/ASTU-backend-group-2/repository/user_repository.go
  backend/ASTU-backend-group-2/repository/user_repository_test.go
  backend/ASTU-backend-group-2/usecase/blog_usecase.go
  backend/ASTU-backend-group-2/usecase/blog_usecase_test.go
  backend/ASTU-backend-group-2/usecase/login_usecase.go
  backend/ASTU-backend-group-2/usecase/profile_usecase.go
  backend/ASTU-backend-group-2/usecase/refresh_token_usecase.go
  backend/ASTU-backend-group-2/usecase/signup_usecase.go
Labels: good first issue, ASTU-Backend-G2

#343 Create comment endpoint added.
  backend/AASTU-backend-group-6/Delivery/routers/blog_router.go
Labels: AASTU-Backend-G6

#351 Astu.backend.g2.nahom.package names
  backend/ASTU-backend-group-2/.gitignore
  backend/ASTU-backend-group-2/api/controller/blog_controller.go
  backend/ASTU-backend-group-2/api/controller/login_controller.go
  backend/ASTU-backend-group-2/api/controller/profile_controller.go
  backend/ASTU-backend-group-2/api/controller/profile_controller_test.go
  backend/ASTU-backend-group-2/api/controller/refresh_token_controller.go
  backend/ASTU-backend-group-2/api/controller/signup_controller.go
  backend/ASTU-backend-group-2/api/middleware/jwt_auth_middleware.go
  backend/ASTU-backend-group-2/api/route/blog_route.go
  backend/ASTU-backend-group-2/api/route/login_route.go
  backend/ASTU-backend-group-2/api/route/profile_route.go
  backend/ASTU-backend-group-2/api/route/refresh_token_route.go
  backend/ASTU-backend-group-2/api/route/route.go
  backend/ASTU-backend-group-2/api/route/signup_route.go
  backend/ASTU-backend-group-2/bootstrap/app.go
  backend/ASTU-backend-group-2/bootstrap/database.go
  backend/ASTU-backend-group-2/bootstrap/env.go
  backend/ASTU-backend-group-2/cmd/main.go
  backend/ASTU-backend-group-2/domain/blog.go
  backend/ASTU-backend-group-2/domain/error_response.go
  backend/ASTU-backend-group-2/domain/jwt_custom.go
  backend/ASTU-backend-group-2/domain/login.go
  backend/ASTU-backend-group-2/domain/profile.go
  backend/ASTU-backend-group-2/domain/refresh_token.go
  backend/ASTU-backend-group-2/domain/signup.go
  backend/ASTU-backend-group-2/domain/success_response.go
  backend/ASTU-backend-group-2/domain/user.go
  backend/ASTU-backend-group-2/internal/tokenutil/tokenutil.go
  backend/ASTU-backend-group-2/mongo/mongo.go
  backend/ASTU-backend-group-2/repository/blog_repository.go
  backend/ASTU-backend-group-2/repository/blog_repository_test.go
  backend/ASTU-backend-group-2/repository/user_repository.go
  backend/ASTU-backend-group-2/repository/user_repository_test.go
  backend/ASTU-backend-group-2/usecase/blog_usecase.go
  backend/ASTU-backend-group-2/usecase/blog_usecase_test.go
  backend/ASTU-backend-group-2/usecase/login_usecase.go
  backend/ASTU-backend-group-2/usecase/profile_usecase.go
  backend/ASTU-backend-group-2/usecase/refresh_token_usecase.go
  backend/ASTU-backend-group-2/usecase/signup_usecase.go
Labels: ASTU-Backend-G2

#396 chore: Add full name field to User struct
  backend/AASTU-backend-group-6/Domain/jwt_custom.go
  backend/AASTU-backend-group-6/Domain/user_domain.go
  backend/AASTU-backend-group-6/Infrastructure/lodeEnv.go
  backend/AASTU-backend-group-6/Infrastructure/token_util.go
  backend/AASTU-backend-group-6/go.mod
Labels: AASTU-Backend-G6

#401 Util function added for pagination.
  backend/AASTU-backend-group-1/README.md
  backend/AASTU-backend-group-2/README.md
  backend/AASTU-backend-group-3/README.md
  backend/AASTU-backend-group-4/README.md
  backend/AASTU-backend-group-5/README.md
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Delivery/controllers/user_controller.go
  backend/AASTU-backend-group-6/Infrastructure/password_service.go
  backend/AASTU-backend-group-6/Utils/pagination.go
  backend/AASTU-backend-group-7/README.md
  backend/AASTU-backend-group-8/README.md
  backend/AASTU-backend-group-9/README.md
  backend/AAiT-backend-group-1/README.md
  backend/AAiT-backend-group-10/README.md
  backend/AAiT-backend-group-11/README.md
  backend/AAiT-backend-group-12/README.md
  backend/AAiT-backend-group-13/README.md
  backend/AAiT-backend-group-2/README.md
  backend/AAiT-backend-group-3/README.md
  backend/AAiT-backend-group-4/README.md
  backend/AAiT-backend-group-5/README.md
  backend/AAiT-backend-group-6/README.md
  backend/AAiT-backend-group-7/README.md
  backend/AAiT-backend-group-8/README.md
  backend/AAiT-backend-group-9/README.md
  backend/ASTU-backend-group-1/README.md
  backend/ASTU-backend-group-2/README.md
  backend/ASTU-backend-group-3/README.md
  backend/ASTU-backend-group-4/README.md
  backend/ASTU-backend-group-5/README.md
Labels: AASTU-Backend-G6

#402 made changes to and added files to domain usecase and repositories
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/blog_router.go
  backend/AASTU-backend-group-6/Delivery/routers/route.go
  backend/AASTU-backend-group-6/Domain/blog_domain.go
  backend/AASTU-backend-group-6/Domain/pagination_domain.go
  backend/AASTU-backend-group-6/Domain/post_domain.go
  backend/AASTU-backend-group-6/Domain/user_domain.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/cmd/main.go
Labels: AASTU-Backend-G6

#405 delete all the un wanted files
  backend/AASTU-backend-group-1/README.md
  backend/AASTU-backend-group-2/README.md
  backend/AASTU-backend-group-3/README.md
  backend/AASTU-backend-group-4/README.md
  backend/AASTU-backend-group-5/README.md
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Domain/refresh_token.go
  backend/AASTU-backend-group-6/Usecases/refresh_token_usecase.go
  backend/AASTU-backend-group-7/README.md
  backend/AASTU-backend-group-8/README.md
  backend/AASTU-backend-group-9/README.md
  backend/AAiT-backend-group-1/README.md
  backend/AAiT-backend-group-10/README.md
  backend/AAiT-backend-group-11/README.md
  backend/AAiT-backend-group-12/README.md
  backend/AAiT-backend-group-13/README.md
  backend/AAiT-backend-group-2/README.md
  backend/AAiT-backend-group-3/README.md
  backend/AAiT-backend-group-4/README.md
  backend/AAiT-backend-group-5/README.md
  backend/AAiT-backend-group-6/README.md
  backend/AAiT-backend-group-7/README.md
  backend/AAiT-backend-group-8/README.md
  backend/AAiT-backend-group-9/README.md
  backend/ASTU-backend-group-1/README.md
  backend/ASTU-backend-group-2/README.md
  backend/ASTU-backend-group-3/README.md
  backend/ASTU-backend-group-4/README.md
  backend/ASTU-backend-group-5/README.md
Labels: AASTU-Backend-G6

#409 Aastu.backend.g6.daniel
  .gitignore
  .gitkeep
  backend/AASTU-backend-group-2/README.md
  backend/AASTU-backend-group-3/README.md
  backend/AASTU-backend-group-4/README.md
  backend/AASTU-backend-group-5/README.md
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/blog_router.go
  backend/AASTU-backend-group-6/Delivery/routers/route.go
  backend/AASTU-backend-group-6/Delivery/routers/user_route.go
  backend/AASTU-backend-group-6/Domain/blog_domain.go
  backend/AASTU-backend-group-6/Domain/error_response.go
  backend/AASTU-backend-group-6/Domain/jwt_custom.go
  backend/AASTU-backend-group-6/Domain/login_domain.go
  backend/AASTU-backend-group-6/Domain/pagination_domain.go
  backend/AASTU-backend-group-6/Domain/refresh_token.go
  backend/AASTU-backend-group-6/Domain/signup.go
  backend/AASTU-backend-group-6/Domain/sucess_response.go
  backend/AASTU-backend-group-6/Domain/user_domain.go
  backend/AASTU-backend-group-6/Infrastructure/auth_middleWare.go
  backend/AASTU-backend-group-6/Infrastructure/database.go
  backend/AASTU-backend-group-6/Infrastructure/lodeEnv.go
  backend/AASTU-backend-group-6/Infrastructure/password_service.go
  backend/AASTU-backend-group-6/Infrastructure/token_util.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Repositories/user_repository.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/Usecases/refresh_token_usecase.go
  backend/AASTU-backend-group-6/Usecases/user_usecase.go
  backend/AASTU-backend-group-6/Utils/pagination.go
  backend/AASTU-backend-group-6/air.toml
  backend/AASTU-backend-group-6/bash.sh
  backend/AASTU-backend-group-6/cmd/main.go
  backend/AASTU-backend-group-6/doc/doc.md
  backend/AASTU-backend-group-6/go.mod
  backend/AASTU-backend-group-6/mongo/mongo.go
  backend/AASTU-backend-group-6/run.sh
  backend/AASTU-backend-group-6/tmp/build-errors.log
  backend/AASTU-backend-group-7/README.md
  backend/AASTU-backend-group-8/README.md
  backend/AASTU-backend-group-9/README.md
  backend/AAiT-backend-group-1/README.md
  backend/AAiT-backend-group-10/README.md
  backend/AAiT-backend-group-11/README.md
  backend/AAiT-backend-group-12/README.md
  backend/AAiT-backend-group-13/README.md
  backend/AAiT-backend-group-2/README.md
  backend/AAiT-backend-group-3/README.md
  backend/AAiT-backend-group-4/README.md
  backend/AAiT-backend-group-5/README.md
  backend/AAiT-backend-group-6/README.md
  backend/AAiT-backend-group-7/README.md
  backend/AAiT-backend-group-8/README.md
  backend/AAiT-backend-group-9/README.md
  backend/ASTU-backend-group-1/README.md
  backend/ASTU-backend-group-2/README.md
  backend/ASTU-backend-group-3/README.md
  backend/ASTU-backend-group-4/README.md
  backend/ASTU-backend-group-5/README.md
Labels: AASTU-Backend-G6

#408 273 standardize blog domain
  backend/ASTU-backend-group-4/blog/blog.go
Labels: ASTU-Backend-G4

#387 feat: Add the chat domain definition
  backend/ASTU-backend-group-4/chat/chat.go
Labels: ASTU-Backend-G4

#417 414 create the infrastructure for pagination
  backend/ASTU-backend-group-4/blog/blog.go
  backend/ASTU-backend-group-4/pkg/infrastructure/pagination.go
Labels: ASTU-Backend-G4

#418 Aastu.backend.g6.daniel
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/blog_router.go
  backend/AASTU-backend-group-6/Delivery/routers/route.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/Usecases/refresh_token_usecase.go
  backend/AASTU-backend-group-6/cmd/main.go
  backend/AASTU-backend-group-6/go.mod
  backend/AASTU-backend-group-6/tmp/build-errors.log
Labels: AASTU-Backend-G6

#225 Aastu.backend.g7.bini
  backend/AASTU-backend-group-7/Config/database.go
  backend/AASTU-backend-group-7/Config/env.go
  backend/AASTU-backend-group-7/CustomMongo/mongo.go
  backend/AASTU-backend-group-7/CustomMongo/mongo_curser.go
  backend/AASTU-backend-group-7/CustomMongo/mongo_repo.go
  backend/AASTU-backend-group-7/CustomMongo/mongo_single_result.go
  backend/AASTU-backend-group-7/Delivery/controllers/auth_controller.go
  backend/AASTU-backend-group-7/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-7/Delivery/controllers/controllers.go
  backend/AASTU-backend-group-7/Delivery/main.go
  backend/AASTU-backend-group-7/Delivery/routers/auth_router.go
  backend/AASTU-backend-group-7/Delivery/routers/blog_router.go
  backend/AASTU-backend-group-7/Delivery/routers/routers.go
  backend/AASTU-backend-group-7/Domain/blog.go
  backend/AASTU-backend-group-7/Domain/claims.go
  backend/AASTU-backend-group-7/Domain/domain.go
  backend/AASTU-backend-group-7/Domain/interfaces.go
  backend/AASTU-backend-group-7/Domain/mongo.go
  backend/AASTU-backend-group-7/Domain/other_models.go
  backend/AASTU-backend-group-7/Domain/user.go
  backend/AASTU-backend-group-7/Infrastructure/auth_middleware/auth_middleware.go
  backend/AASTU-backend-group-7/Infrastructure/jwt_service/jwt_service.go
  backend/AASTU-backend-group-7/Infrastructure/password_services/password_service.go
  backend/AASTU-backend-group-7/Repositories/auth_repository.go
  backend/AASTU-backend-group-7/Repositories/blog_repo.go
  backend/AASTU-backend-group-7/UseCases/auth_usecase.go
  backend/AASTU-backend-group-7/UseCases/blog_usecase.go
  backend/AASTU-backend-group-7/go.mod
  backend/AASTU-backend-group-7/go.sum
Labels: AASTU-Backend-G7

#397 Astu.backend.g2.nahom.readme
  backend/AASTU-backend-group-1/README.md
  backend/AASTU-backend-group-2/README.md
  backend/AASTU-backend-group-3/README.md
  backend/AASTU-backend-group-4/README.md
  backend/AASTU-backend-group-5/README.md
  backend/AASTU-backend-group-6/README.md
  backend/AASTU-backend-group-7/README.md
  backend/AASTU-backend-group-8/README.md
  backend/AASTU-backend-group-9/README.md
  backend/AAiT-backend-group-1/README.md
  backend/AAiT-backend-group-10/README.md
  backend/AAiT-backend-group-11/README.md
  backend/AAiT-backend-group-12/README.md
  backend/AAiT-backend-group-13/README.md
  backend/AAiT-backend-group-2/README.md
  backend/AAiT-backend-group-3/README.md
  backend/AAiT-backend-group-4/README.md
  backend/AAiT-backend-group-5/README.md
  backend/AAiT-backend-group-6/README.md
  backend/AAiT-backend-group-7/README.md
  backend/AAiT-backend-group-8/README.md
  backend/AAiT-backend-group-9/README.md
  backend/ASTU-backend-group-1/README.md
  backend/ASTU-backend-group-2/README.md
  backend/ASTU-backend-group-3/README.md
  backend/ASTU-backend-group-4/README.md
  backend/ASTU-backend-group-5/README.md
Labels: ASTU-Backend-G2

#465 Aastu.backend.g6.daniel
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/blog_router.go
  backend/AASTU-backend-group-6/Infrastructure/lodeEnv.go
  backend/AASTU-backend-group-6/mongo/mongo.go
  backend/AASTU-backend-group-6/tmp/build-errors.log
Labels: AASTU-Backend-G6

#463 Implement and Define Routes for Authentication, Blog, and Profile Management
  backend/ASTU-backend-group-2/api/controller/auth_controller.go
  backend/ASTU-backend-group-2/api/controller/blog_controller.go
  backend/ASTU-backend-group-2/api/controller/login_controller.go
  backend/ASTU-backend-group-2/api/controller/profile_controller.go
  backend/ASTU-backend-group-2/api/controller/refresh_token_controller.go
  backend/ASTU-backend-group-2/api/controller/signup_controller.go
  backend/ASTU-backend-group-2/api/middleware/jwt_auth_middleware.go
  backend/ASTU-backend-group-2/api/route/auth_route.go
  backend/ASTU-backend-group-2/api/route/blog_route.go
  backend/ASTU-backend-group-2/api/route/chat_route.go
  backend/ASTU-backend-group-2/api/route/profile_route.go
  backend/ASTU-backend-group-2/api/route/refresh_token_route.go
  backend/ASTU-backend-group-2/api/route/route.go
  backend/ASTU-backend-group-2/api/route/signup_route.go
  backend/ASTU-backend-group-2/go.mod
  backend/ASTU-backend-group-2/go.sum
  backend/ASTU-backend-group-2/internal/tokenutil/tokenutil.go
Labels: ASTU-Backend-G2

#503 build: Set up initial directory structure, define Docker service, and add air.toml
  backend/AAiT-backend-group-13/.air.toml
  backend/AAiT-backend-group-13/Dockerfile
  backend/AAiT-backend-group-13/cmd/main.go
  backend/AAiT-backend-group-13/docker-compose.yml
  backend/AAiT-backend-group-13/go.mod
Labels: init

#516 Aastu.backend.g6.adane
  backend/AASTU-backend-group-6/Delivery/controllers/refresh_token_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/blog_router.go
  backend/AASTU-backend-group-6/Delivery/routers/refresh_route.go
  backend/AASTU-backend-group-6/Delivery/routers/route.go
  backend/AASTU-backend-group-6/Delivery/routers/signup_route.go
  backend/AASTU-backend-group-6/Domain/jwt_custom.go
  backend/AASTU-backend-group-6/Domain/user_domain.go
  backend/AASTU-backend-group-6/Infrastructure/lodeEnv.go
  backend/AASTU-backend-group-6/Infrastructure/token_util.go
  backend/AASTU-backend-group-6/Repositories/signup_repository.go
  backend/AASTU-backend-group-6/Repositories/user_repository.go
  backend/AASTU-backend-group-6/Usecases/signup_usecase.go
  backend/AASTU-backend-group-6/air.cfg
  backend/AASTU-backend-group-6/go.mod
  backend/AASTU-backend-group-6/run.sh
  backend/AASTU-backend-group-6/tmp/build-errors.log
Labels: AASTU-Backend-G6

#564 Add folder structure and packages
  backend/AAiT-backend-group-12/.gitignore
  backend/AAiT-backend-group-12/delivery/controllers/auth_controller.go
  backend/AAiT-backend-group-12/delivery/controllers/blog_controller.go
  backend/AAiT-backend-group-12/delivery/env.go
  backend/AAiT-backend-group-12/delivery/main.go
  backend/AAiT-backend-group-12/delivery/router/auth_router.go
  backend/AAiT-backend-group-12/delivery/router/blog_router.go
  backend/AAiT-backend-group-12/delivery/router/router.go
  backend/AAiT-backend-group-12/docs/Class Diagram.drawio
  backend/AAiT-backend-group-12/docs/api_documentation.md
  backend/AAiT-backend-group-12/domain/domain.go
  backend/AAiT-backend-group-12/domain/dtos/blog_dtos.go
  backend/AAiT-backend-group-12/domain/errors.go
  backend/AAiT-backend-group-12/go.mod
  backend/AAiT-backend-group-12/go.sum
  backend/AAiT-backend-group-12/infrastructure/db/init_db.go
  backend/AAiT-backend-group-12/infrastructure/jwt/sign.go
  backend/AAiT-backend-group-12/infrastructure/middleware/auth_middleware.go
  backend/AAiT-backend-group-12/repository/blog_repository.go
  backend/AAiT-backend-group-12/repository/user_repository.go
  backend/AAiT-backend-group-12/sample.env
Labels: init, aait-backend-g12

#577 Aastu.backend.g6.eyerusalem
  .gitignore
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Delivery/controllers/oauth_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/blog_router.go
  backend/AASTU-backend-group-6/Delivery/routers/route.go
  backend/AASTU-backend-group-6/Domain/blog_domain.go
  backend/AASTU-backend-group-6/Domain/error_response.go
  backend/AASTU-backend-group-6/Domain/validate_domain.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/go.mod
  backend/AASTU-backend-group-6/tmp/build-errors.log
Labels: AASTU-Backend-G6

#594 Create endpoint updated.
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/blog_router.go
  backend/AASTU-backend-group-6/Delivery/routers/route.go
  backend/AASTU-backend-group-6/Domain/blog_domain.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/go.mod
Labels: AASTU-Backend-G6

#528 Astu.web.g1.ephrem.456 astu web g1 ephy login page
  web/ASTU-web-group-1/astu.web.g1.bank-dash/public/assets/images/login.png
  web/ASTU-web-group-1/astu.web.g1.bank-dash/src/app/auth/login/page.tsx
  web/ASTU-web-group-1/astu.web.g1.bank-dash/src/components/Form/AuthForm/LoginForm.tsx
  web/ASTU-web-group-1/astu.web.g1.bank-dash/src/components/Form/InputGroup.tsx
Labels: ASTU-WEB-G1

#513 feat(astu-backend-g2) created models and entities
  backend/ASTU-backend-group-2/.gitignore
  backend/ASTU-backend-group-2/domain/blog.go
  backend/ASTU-backend-group-2/domain/login.go
  backend/ASTU-backend-group-2/domain/profile.go
  backend/ASTU-backend-group-2/domain/signup.go
  backend/ASTU-backend-group-2/domain/user.go
  backend/ASTU-backend-group-2/domain/validators/input_validator.go
  backend/ASTU-backend-group-2/domain/validators/input_validator_test.go
Labels: ASTU-Backend-G2

#619 Add signup and login functionalities with support for refreshTokens
  backend/AAiT-backend-group-12/.air.toml
  backend/AAiT-backend-group-12/.gitignore
  backend/AAiT-backend-group-12/README.md
  backend/AAiT-backend-group-12/delivery/controllers/auth_controller.go
  backend/AAiT-backend-group-12/delivery/env/env.go
  backend/AAiT-backend-group-12/delivery/main.go
  backend/AAiT-backend-group-12/delivery/router/auth_router.go
  backend/AAiT-backend-group-12/delivery/router/blog_router.go
  backend/AAiT-backend-group-12/delivery/router/router.go
  backend/AAiT-backend-group-12/docs/Class Diagram.drawio
  backend/AAiT-backend-group-12/domain/domain.go
  backend/AAiT-backend-group-12/domain/errors.go
  backend/AAiT-backend-group-12/go.mod
  backend/AAiT-backend-group-12/go.sum
  backend/AAiT-backend-group-12/infrastructure/cryptography/hashing.go
  backend/AAiT-backend-group-12/infrastructure/db/init_db.go
  backend/AAiT-backend-group-12/infrastructure/jwt/jwt_service.go
  backend/AAiT-backend-group-12/infrastructure/jwt/sign.go
  backend/AAiT-backend-group-12/infrastructure/middleware/auth_middleware.go
  backend/AAiT-backend-group-12/repository/user_repository.go
  backend/AAiT-backend-group-12/sample.env
  backend/AAiT-backend-group-12/usecase/user_usecase.go
Labels: enhancement, aait-backend-g12

#667 Delete endpoint implemented.
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/route.go
  backend/AASTU-backend-group-6/Domain/blog_domain.go
  backend/AASTU-backend-group-6/Domain/id_converter.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/go.mod
Labels: AASTU-Backend-G6

#557 Add Contructor Function for AuthTokenImple and AuthUserImple Structs
  backend/ASTU-backend-group-4/auth/mongodb/auth_storage.go
Labels: ASTU-Backend-G4

#686 Add email verification and password reset
  backend/AAiT-backend-group-12/delivery/controllers/auth_controller.go
  backend/AAiT-backend-group-12/delivery/env/env.go
  backend/AAiT-backend-group-12/delivery/main.go
  backend/AAiT-backend-group-12/delivery/router/auth_router.go
  backend/AAiT-backend-group-12/domain/domain.go
  backend/AAiT-backend-group-12/domain/dtos/user_dtos.go
  backend/AAiT-backend-group-12/go.mod
  backend/AAiT-backend-group-12/go.sum
  backend/AAiT-backend-group-12/infrastructure/cryptography/hashing_service.go
  backend/AAiT-backend-group-12/infrastructure/db/config.go
  backend/AAiT-backend-group-12/infrastructure/db/root_user.go
  backend/AAiT-backend-group-12/infrastructure/jwt/jwt_service.go
  backend/AAiT-backend-group-12/infrastructure/mail/mail_service.go
  backend/AAiT-backend-group-12/infrastructure/mail/mail_templates.go
  backend/AAiT-backend-group-12/infrastructure/middleware/auth_middleware.go
  backend/AAiT-backend-group-12/infrastructure/utils/generate_token.go
  backend/AAiT-backend-group-12/repository/user_repository.go
  backend/AAiT-backend-group-12/sample.env
  backend/AAiT-backend-group-12/usecase/user_usecase.go
Labels: enhancement, aait-backend-g12

#663 576 Enhance interface and their implementation
  backend/ASTU-backend-group-4/auth/auth.go
  backend/ASTU-backend-group-4/auth/mongodb/auth_storage.go
Labels: ASTU-Backend-G4

#700 add blog crud features
  backend/AAiT-backend-group-9/Blog_Starter/api/controller/blog_controller.go
  backend/AAiT-backend-group-9/Blog_Starter/api/middleware/auth_middleware.go
  backend/AAiT-backend-group-9/Blog_Starter/api/router/router.go
  backend/AAiT-backend-group-9/Blog_Starter/main.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/blog_repository.go
  backend/AAiT-backend-group-9/Blog_Starter/usecase/blog_usecase.go
Labels: aait-backend-g9

#715 Astu.backend.g2.nahom.remove folders
  backend/AASTU-backend-group-1/README.md
  backend/AASTU-backend-group-2/README.md
  backend/AASTU-backend-group-3/README.md
  backend/AASTU-backend-group-4/README.md
  backend/AASTU-backend-group-5/README.md
  backend/AASTU-backend-group-6/README.md
  backend/AASTU-backend-group-7/README.md
  backend/AASTU-backend-group-8/README.md
  backend/AASTU-backend-group-9/README.md
  backend/AAiT-backend-group-1/README.md
  backend/AAiT-backend-group-10/README.md
  backend/AAiT-backend-group-11/README.md
  backend/AAiT-backend-group-12/README.md
  backend/AAiT-backend-group-13/README.md
  backend/AAiT-backend-group-2/README.md
  backend/AAiT-backend-group-3/README.md
  backend/AAiT-backend-group-4/README.md
  backend/AAiT-backend-group-5/README.md
  backend/AAiT-backend-group-6/README.md
  backend/AAiT-backend-group-7/README.md
  backend/AAiT-backend-group-8/README.md
  backend/AAiT-backend-group-9/README.md
  backend/ASTU-backend-group-1/README.md
  backend/ASTU-backend-group-2/.gitignore
  backend/ASTU-backend-group-2/go.mod
  backend/ASTU-backend-group-2/go.sum
  backend/ASTU-backend-group-2/mongo/mongo.go
  backend/ASTU-backend-group-3/README.md
  backend/ASTU-backend-group-4/README.md
  backend/ASTU-backend-group-5/README.md
  backend/README.md
Labels: ASTU-Backend-G2

#739 Authentication middleware implemented.
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/blog_router.go
  backend/AASTU-backend-group-6/Delivery/routers/route.go
  backend/AASTU-backend-group-6/Domain/blog_domain.go
  backend/AASTU-backend-group-6/Infrastructure/auth_middleWare.go
  backend/AASTU-backend-group-6/Infrastructure/token_util.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/tmp.go
Labels: AASTU-Backend-G6

#763 Aastu.backend.g6.adane
  backend/AASTU-backend-group-6/Delivery/controllers/login_controller.go
  backend/AASTU-backend-group-6/Delivery/controllers/logout_controller.go
  backend/AASTU-backend-group-6/Delivery/controllers/refresh_token_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/logout_route.go
  backend/AASTU-backend-group-6/Delivery/routers/route.go
  backend/AASTU-backend-group-6/Domain/active_users.go
  backend/AASTU-backend-group-6/Domain/logout.go
  backend/AASTU-backend-group-6/Domain/refresh_token.go
  backend/AASTU-backend-group-6/Repositories/active_user_repository.go
  backend/AASTU-backend-group-6/Usecases/logout_usecase.go
  backend/AASTU-backend-group-6/Usecases/refresh_token_usecase.go
Labels: AASTU-Backend-G6

#757 Search by author and title endpoint implmented.
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Domain/blog_domain.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
Labels: AASTU-Backend-G6

#756 fix: update structs and models
  backend/ASTU-backend-group-2/domain/blog.go
  backend/ASTU-backend-group-2/domain/profile.go
  backend/ASTU-backend-group-2/domain/signup.go
  backend/ASTU-backend-group-2/domain/user.go
Labels: ASTU-Backend-G2

#819 update blog crud opretion
  backend/AAiT-backend-group-9/Blog_Starter/api/controller/blog_controller.go
  backend/AAiT-backend-group-9/Blog_Starter/domain/blog.go
  backend/AAiT-backend-group-9/Blog_Starter/go.mod
  backend/AAiT-backend-group-9/Blog_Starter/go.sum
  backend/AAiT-backend-group-9/Blog_Starter/repository/blog_repository.go
  backend/AAiT-backend-group-9/Blog_Starter/usecase/blog_usecase.go
Labels: aait-backend-g9

#770 Aastu.backend.g6.adane
  backend/AASTU-backend-group-6/Delivery/controllers/login_controller.go
  backend/AASTU-backend-group-6/Delivery/controllers/logout_controller.go
  backend/AASTU-backend-group-6/Delivery/controllers/oauth_controller.go
  backend/AASTU-backend-group-6/Delivery/controllers/refresh_token_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/route.go
  backend/AASTU-backend-group-6/Domain/active_users.go
  backend/AASTU-backend-group-6/Domain/login_domain.go
  backend/AASTU-backend-group-6/Domain/logout.go
  backend/AASTU-backend-group-6/Domain/refresh_token.go
  backend/AASTU-backend-group-6/Repositories/active_user_repository.go
  backend/AASTU-backend-group-6/Usecases/login_usecase.go
  backend/AASTU-backend-group-6/Usecases/logout_usecase.go
  backend/AASTU-backend-group-6/Usecases/refresh_token_usecase.go
  backend/AASTU-backend-group-6/go.mod
Labels: AASTU-Backend-G6

#785 Aastu.backend.g6.daniel
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Domain/blog_domain.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/t.go
Labels: AASTU-Backend-G6

#851 feat: add blog use case implemenation boilerplate code
  backend/ASTU-backend-group-4/blog/usecase.go
Labels: enhancement, ASTU-Backend-G4

#852 Create comment endpoint implemented.
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/blog_router.go
  backend/AASTU-backend-group-6/Domain/blog_domain.go
  backend/AASTU-backend-group-6/Domain/jwt_custom.go
  backend/AASTU-backend-group-6/Infrastructure/auth_middleWare.go
  backend/AASTU-backend-group-6/Infrastructure/token_util.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/t.go
Labels: AASTU-Backend-G6

#875 Aait.backend.g12.enyew.aifeature
  backend/AAiT-backend-group-12/.gitignore
  backend/AAiT-backend-group-12/delivery/controllers/blog_controller.go
  backend/AAiT-backend-group-12/delivery/env/env.go
  backend/AAiT-backend-group-12/delivery/router/blog_router.go
  backend/AAiT-backend-group-12/domain/domain.go
  backend/AAiT-backend-group-12/go.mod
  backend/AAiT-backend-group-12/go.sum
  backend/AAiT-backend-group-12/infrastructure/ai/ai_service.go
  backend/AAiT-backend-group-12/sample.env
  backend/AAiT-backend-group-12/usecase/blog_usecase.go
Labels: enhancement, aait-backend-g12

#877 ai integration Done
  backend/AASTU-backend-group-6/Delivery/controllers/ai_controller.go
  backend/AASTU-backend-group-6/Delivery/controllers/handleresponse.go
  backend/AASTU-backend-group-6/Delivery/controllers/signup_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/ai_route.go
  backend/AASTU-backend-group-6/Delivery/routers/route.go
  backend/AASTU-backend-group-6/Domain/ai_domain.go
  backend/AASTU-backend-group-6/Domain/prompt.go
  backend/AASTU-backend-group-6/Infrastructure/aiResponse.go
  backend/AASTU-backend-group-6/Infrastructure/lodeEnv.go
  backend/AASTU-backend-group-6/Usecases/ai_usecase.go
  backend/AASTU-backend-group-6/Usecases/signup_usecase.go
  backend/AASTU-backend-group-6/go.mod
Labels: AASTU-Backend-G6

#923 Aait.backend.g1.haile.infrastructure
  backend/AAiT-backend-group-1/infrastructure/jwt_service.go
  backend/AAiT-backend-group-1/infrastructure/middleware_service.go
Labels: aait-backend-g1

#931 finished the blog comment usecase
  backend/AAiT-backend-group-12/delivery/controllers/blog_controller.go
  backend/AAiT-backend-group-12/delivery/router/blog_router.go
  backend/AAiT-backend-group-12/docs/api_documentation.md
  backend/AAiT-backend-group-12/domain/domain.go
  backend/AAiT-backend-group-12/domain/dtos/blog_dtos.go
  backend/AAiT-backend-group-12/go.mod
  backend/AAiT-backend-group-12/go.sum
  backend/AAiT-backend-group-12/repository/blog_repository.go
  backend/AAiT-backend-group-12/usecase/blog_usecase.go
Labels: aait-backend-g12

#902 update the blog usecase
  backend/AAiT-backend-group-12/delivery/controllers/blog_controller.go
  backend/AAiT-backend-group-12/delivery/router/blog_router.go
  backend/AAiT-backend-group-12/docs/api_documentation.md
  backend/AAiT-backend-group-12/domain/domain.go
  backend/AAiT-backend-group-12/domain/dtos/blog_dtos.go
  backend/AAiT-backend-group-12/go.mod
  backend/AAiT-backend-group-12/go.sum
  backend/AAiT-backend-group-12/repository/blog_repository.go
  backend/AAiT-backend-group-12/usecase/blog_usecase.go
Labels: aait-backend-g12

#946 updated the update comment function inside the repository
  backend/AAiT-backend-group-12/repository/blog_repository.go
Labels: aait-backend-g12

#954 Make all routes protected
  backend/AAiT-backend-group-12/delivery/router/blog_router.go
Labels: aait-backend-g12

#974 add filter features
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Domain/blog_domain.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/Utils/pagination.go
  backend/AASTU-backend-group-6/t.go
Labels: AASTU-Backend-G6

#976 feat: Refactor blog repository methods
  backend/ASTU-backend-group-2/repository/blog_repository.go
Labels: ASTU-Backend-G2

#1004 implement signUp and Otp
  backend/AAiT-backend-group-9/Blog_Starter/api/controller/like_controller.go
  backend/AAiT-backend-group-9/Blog_Starter/api/controller/login_controller.go
  backend/AAiT-backend-group-9/Blog_Starter/api/controller/signUp_controller.go
  backend/AAiT-backend-group-9/Blog_Starter/api/router/router.go
  backend/AAiT-backend-group-9/Blog_Starter/api/router/signup_route.go
  backend/AAiT-backend-group-9/Blog_Starter/config/database.go
  backend/AAiT-backend-group-9/Blog_Starter/config/environment.go
  backend/AAiT-backend-group-9/Blog_Starter/domain/email_template.go
  backend/AAiT-backend-group-9/Blog_Starter/domain/signup.go
  backend/AAiT-backend-group-9/Blog_Starter/domain/user.go
  backend/AAiT-backend-group-9/Blog_Starter/go.mod
  backend/AAiT-backend-group-9/Blog_Starter/go.sum
  backend/AAiT-backend-group-9/Blog_Starter/main.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/blog_repository.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/otp_repository.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/user_repository.go
  backend/AAiT-backend-group-9/Blog_Starter/usecase/blog_usecase.go
  backend/AAiT-backend-group-9/Blog_Starter/usecase/otp_usecase.go
  backend/AAiT-backend-group-9/Blog_Starter/usecase/signUp_usecase.go
  backend/AAiT-backend-group-9/Blog_Starter/usecase/user_usecase.go
  backend/AAiT-backend-group-9/Blog_Starter/utils/check_user.go
  backend/AAiT-backend-group-9/Blog_Starter/utils/emailUtil.go
Labels: aait-backend-g9

#1016 Popularity tracking endpoint implemented.
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/blog_router.go
  backend/AASTU-backend-group-6/Domain/blog_domain.go
  backend/AASTU-backend-group-6/Infrastructure/auth_middleWare.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/Utils/checkReaction.go
  backend/AASTU-backend-group-6/Utils/filterReaction.go
  backend/AASTU-backend-group-6/Utils/popularity_rate.go
  backend/AASTU-backend-group-6/cmd/main.go
Labels: AASTU-Backend-G6

#1003 finished the controller and the router for blog comment
  backend/AAiT-backend-group-12/delivery/controllers/comment_controller.go
  backend/AAiT-backend-group-12/domain/domain.go
  backend/AAiT-backend-group-12/repository/blog_repository.go
  backend/AAiT-backend-group-12/usecase/blog_usecase.go
Labels: aait-backend-g12

#947 Aait.backend.g1.haile.domain
  backend/AAiT-backend-group-1/.gitignore
  backend/AAiT-backend-group-1/delivery/controllers/controller.go
  backend/AAiT-backend-group-1/domain/author.go
  backend/AAiT-backend-group-1/domain/blog.go
  backend/AAiT-backend-group-1/domain/comment.go
  backend/AAiT-backend-group-1/domain/controller_interfaces.go
  backend/AAiT-backend-group-1/domain/error.go
  backend/AAiT-backend-group-1/domain/infrastructure_interfaces.go
  backend/AAiT-backend-group-1/domain/reaction.go
  backend/AAiT-backend-group-1/domain/repository_interfaces.go
  backend/AAiT-backend-group-1/domain/session.go
  backend/AAiT-backend-group-1/domain/usecase_interfaces.go
  backend/AAiT-backend-group-1/domain/user.go
  backend/AAiT-backend-group-1/go.mod
  backend/AAiT-backend-group-1/go.sum
  backend/AAiT-backend-group-1/infrastructure/jwt_service.go
  backend/AAiT-backend-group-1/infrastructure/password_service.go
Labels: aait-backend-g1

#1039 feat: [repo] passoword reset and token managment
  backend/ASTU-backend-group-2/api/controller/blog_controller.go
  backend/ASTU-backend-group-2/api/controller/profile_controller.go
  backend/ASTU-backend-group-2/api/controller/signup_controller.go
  backend/ASTU-backend-group-2/domain/blog.go
  backend/ASTU-backend-group-2/domain/signup.go
  backend/ASTU-backend-group-2/domain/user.go
  backend/ASTU-backend-group-2/repository/blog_repository.go
  backend/ASTU-backend-group-2/repository/user_repository.go
  backend/ASTU-backend-group-2/usecase/blog_usecase.go
  backend/ASTU-backend-group-2/usecase/logout_usecase.go
Labels: ASTU-Backend-G2

#1045 feat: Add GetByTags and GetAllBlogs methods
  backend/ASTU-backend-group-2/domain/blog.go
  backend/ASTU-backend-group-2/repository/blog_repository.go
Labels: ASTU-Backend-G2

#1046 refactor: :recycle: refactor update user function
  backend/ASTU-backend-group-2/domain/user.go
  backend/ASTU-backend-group-2/repository/user_repository.go
Labels: ASTU-Backend-G2

#1019 implement the AI-services of the chat domain
  backend/ASTU-backend-group-4/chat/chat.go
  backend/ASTU-backend-group-4/chat/gemini_ai/ai-service.go
  backend/ASTU-backend-group-4/go.mod
  backend/ASTU-backend-group-4/go.sum
Labels: ASTU-Backend-G4

#1066 feat: implement user uscase
  backend/ASTU-backend-group-2/api/controller/profile_controller.go
  backend/ASTU-backend-group-2/domain/user.go
  backend/ASTU-backend-group-2/usecase/user_usecase.go
Labels: ASTU-Backend-G2

#1086 add mock
  backend/AASTU-backend-group-6/Test/blog_repositories_test.go
  backend/AASTU-backend-group-6/Test/blog_usecase_test.go
  backend/AASTU-backend-group-6/mocks/BlogRepository.go
  backend/AASTU-backend-group-6/mocks/BlogUsecase.go
  backend/AASTU-backend-group-6/t.go
Labels: AASTU-Backend-G6

#1105 1037 integrate pagination for each repository and use case functions
  backend/ASTU-backend-group-2/domain/blog.go
  backend/ASTU-backend-group-2/domain/user.go
  backend/ASTU-backend-group-2/go.mod
  backend/ASTU-backend-group-2/go.sum
  backend/ASTU-backend-group-2/repository/blog_repository.go
  backend/ASTU-backend-group-2/repository/user_repository.go
  backend/ASTU-backend-group-2/usecase/blog_usecase.go
  backend/ASTU-backend-group-2/usecase/user_usecase.go
Labels: ASTU-Backend-G2

#1137 Update user_usecase.go
  backend/ASTU-backend-group-2/usecase/user_usecase.go
Labels: ASTU-Backend-G2

#1144 Aastu.backend.g6.adane
  backend/AASTU-backend-group-6/Delivery/controllers/logout_controller_test.go
  backend/AASTU-backend-group-6/go.mod
  backend/AASTU-backend-group-6/mocks/AIConfig.go
  backend/AASTU-backend-group-6/mocks/AIUsecase.go
  backend/AASTU-backend-group-6/mocks/ActiveUserRepository.go
  backend/AASTU-backend-group-6/mocks/AuthInterface.go
  backend/AASTU-backend-group-6/mocks/BlogRepository.go
  backend/AASTU-backend-group-6/mocks/BlogUsecase.go
  backend/AASTU-backend-group-6/mocks/Client.go
  backend/AASTU-backend-group-6/mocks/Collection.go
  backend/AASTU-backend-group-6/mocks/Cursor.go
  backend/AASTU-backend-group-6/mocks/Database.go
  backend/AASTU-backend-group-6/mocks/IDConverterInterface.go
  backend/AASTU-backend-group-6/mocks/LoginUsecase.go
  backend/AASTU-backend-group-6/mocks/LogoutUsecase.go
  backend/AASTU-backend-group-6/mocks/OauthConfig.go
  backend/AASTU-backend-group-6/mocks/OauthUsecase.go
  backend/AASTU-backend-group-6/mocks/RefreshTokenUsecase.go
  backend/AASTU-backend-group-6/mocks/SignupRepository.go
  backend/AASTU-backend-group-6/mocks/SignupUseCase.go
  backend/AASTU-backend-group-6/mocks/SingleResult.go
  backend/AASTU-backend-group-6/mocks/UserRepository.go
  backend/AASTU-backend-group-6/mocks/UserUseCase.go
  backend/AASTU-backend-group-6/mocks/ValidateInterface.go
Labels: AASTU-Backend-G6

#1152 Updated the view count logic
  backend/AAiT-backend-group-12/delivery/controllers/blog_controller.go
  backend/AAiT-backend-group-12/delivery/router/blog_router.go
  backend/AAiT-backend-group-12/domain/domain.go
  backend/AAiT-backend-group-12/repository/blog_repository.go
  backend/AAiT-backend-group-12/usecase/blog_usecase.go
Labels: aait-backend-g12

#1164 aait.backend.g1: Add cache service using redis
  backend/AAiT-backend-group-1/infrastructure/cache_service.go
Labels: aait-backend-g1

#1163 Create endpoint updated.
  backend/AASTU-backend-group-6/Test/blog_usecase_test.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
Labels: AASTU-Backend-G6

#1178 Add OAuth, password reset OTP and cache repo
  backend/AAiT-backend-group-12/.fresh.yaml
  backend/AAiT-backend-group-12/delivery/controllers/auth_controller.go
  backend/AAiT-backend-group-12/delivery/controllers/oauth_controller.go
  backend/AAiT-backend-group-12/delivery/env/env.go
  backend/AAiT-backend-group-12/delivery/main.go
  backend/AAiT-backend-group-12/delivery/router/auth_router.go
  backend/AAiT-backend-group-12/delivery/router/blog_router.go
  backend/AAiT-backend-group-12/delivery/router/oauth_router.go
  backend/AAiT-backend-group-12/delivery/router/router.go
  backend/AAiT-backend-group-12/docs/Class Diagram.drawio
  backend/AAiT-backend-group-12/domain/domain.go
  backend/AAiT-backend-group-12/domain/dtos/blog_dtos.go
  backend/AAiT-backend-group-12/domain/dtos/user_dtos.go
  backend/AAiT-backend-group-12/domain/errors.go
  backend/AAiT-backend-group-12/go.mod
  backend/AAiT-backend-group-12/go.sum
  backend/AAiT-backend-group-12/infrastructure/cryptography/hashing_service.go
  backend/AAiT-backend-group-12/infrastructure/db/root_user.go
  backend/AAiT-backend-group-12/infrastructure/jwt/jwt_service.go
  backend/AAiT-backend-group-12/infrastructure/mail/mail_service.go
  backend/AAiT-backend-group-12/infrastructure/mail/mail_templates.go
  backend/AAiT-backend-group-12/infrastructure/middleware/auth_middleware.go
  backend/AAiT-backend-group-12/infrastructure/oauth/google_auth.go
  backend/AAiT-backend-group-12/infrastructure/redis/redis_service.go
  backend/AAiT-backend-group-12/infrastructure/utils/generate_token.go
  backend/AAiT-backend-group-12/repository/cache_repository.go
  backend/AAiT-backend-group-12/repository/user_repository.go
  backend/AAiT-backend-group-12/sample.env
  backend/AAiT-backend-group-12/usecase/user_usecase.go
Labels: enhancement, aait-backend-g12

#1185 1072 add implementation for get blogs
  backend/ASTU-backend-group-4/blog/usecase.go
Labels: ASTU-Backend-G4

#1186 feat(blog): add implementation for get comments by blog id
  backend/ASTU-backend-group-4/blog/usecase.go
Labels: ASTU-Backend-G4

#1191 1180 implement the comments repository functions
  backend/ASTU-backend-group-2/domain/user.go
  backend/ASTU-backend-group-2/repository/comment_repository.go
  backend/ASTU-backend-group-2/repository/user_repository.go
  backend/ASTU-backend-group-2/usecase/comment_usecase.go
  backend/ASTU-backend-group-2/usecase/user_usecase.go
Labels: ASTU-Backend-G2

#1209 updated filter and search
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Delivery/controllers/temp.json
  backend/AASTU-backend-group-6/Infrastructure/token_util.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/Usecases/signup_usecase.go
Labels: AASTU-Backend-G6

#1219 Astu.backend.g2.saleamlak.create login and signup controllers
  backend/ASTU-backend-group-2/api/controller/login_controller.go
  backend/ASTU-backend-group-2/api/controller/signup_controller.go
  backend/ASTU-backend-group-2/domain/login.go
  backend/ASTU-backend-group-2/domain/signup.go
  backend/ASTU-backend-group-2/domain/user.go
  backend/ASTU-backend-group-2/repository/user_repository.go
  backend/ASTU-backend-group-2/usecase/login_usecase.go
  backend/ASTU-backend-group-2/usecase/signup_usecase.go
Labels: ASTU-Backend-G2

#1246 Added profile picture functionality
  backend/AAiT-backend-group-12/.gitignore
  backend/AAiT-backend-group-12/delivery/controllers/auth_controller.go
  backend/AAiT-backend-group-12/delivery/router/auth_router.go
  backend/AAiT-backend-group-12/delivery/router/router.go
  backend/AAiT-backend-group-12/domain/domain.go
  backend/AAiT-backend-group-12/domain/dtos/user_dtos.go
  backend/AAiT-backend-group-12/infrastructure/fs/fs.go
  backend/AAiT-backend-group-12/repository/user_repository.go
  backend/AAiT-backend-group-12/usecase/user_usecase.go
Labels: enhancement, aait-backend-g12

#1256 1253 implement missing functions in the blog repository
  backend/ASTU-backend-group-4/blog/error.go
  backend/ASTU-backend-group-4/blog/mongodb/blog_storage.go
Labels: ASTU-Backend-G4

#1267 Aait.backend.g9.yanet.router setup
  backend/AAiT-backend-group-9/Blog_Starter/api/controller/login_controller.go
  backend/AAiT-backend-group-9/Blog_Starter/api/controller/signUp_controller.go
  backend/AAiT-backend-group-9/Blog_Starter/api/controller/user_controller.go
  backend/AAiT-backend-group-9/Blog_Starter/api/middleware/rate_limiter_middleware.go
  backend/AAiT-backend-group-9/Blog_Starter/api/router/login_route.go
  backend/AAiT-backend-group-9/Blog_Starter/api/router/router.go
  backend/AAiT-backend-group-9/Blog_Starter/api/router/signup_route.go
  backend/AAiT-backend-group-9/Blog_Starter/config/database.go
  backend/AAiT-backend-group-9/Blog_Starter/config/environment.go
  backend/AAiT-backend-group-9/Blog_Starter/credentials.json
  backend/AAiT-backend-group-9/Blog_Starter/domain/login.go
  backend/AAiT-backend-group-9/Blog_Starter/domain/signup.go
  backend/AAiT-backend-group-9/Blog_Starter/domain/user.go
  backend/AAiT-backend-group-9/Blog_Starter/go.mod
  backend/AAiT-backend-group-9/Blog_Starter/go.sum
  backend/AAiT-backend-group-9/Blog_Starter/main.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/user_repository.go
  backend/AAiT-backend-group-9/Blog_Starter/usecase/login_usecase.go
  backend/AAiT-backend-group-9/Blog_Starter/usecase/signUp_usecase.go
  backend/AAiT-backend-group-9/Blog_Starter/usecase/user_usecase.go
  backend/AAiT-backend-group-9/Blog_Starter/utils/emailUtil.go
  backend/AAiT-backend-group-9/Blog_Starter/utils/infrastructure/ai_service.go
  backend/AAiT-backend-group-9/Blog_Starter/utils/infrastructure/token_manager.go
Labels: aait-backend-g9

#1259 Add caching the blog data
  backend/AAiT-backend-group-12/delivery/router/blog_router.go
  backend/AAiT-backend-group-12/domain/domain.go
  backend/AAiT-backend-group-12/infrastructure/ai/ai_service.go
  backend/AAiT-backend-group-12/repository/cache_repository.go
  backend/AAiT-backend-group-12/sample.env
  backend/AAiT-backend-group-12/usecase/blog_usecase.go
Labels: enhancement, aait-backend-g12

#1269 Refactor infrastructure code
  backend/AAiT-backend-group-12/delivery/controllers/blog_controller.go
  backend/AAiT-backend-group-12/delivery/main.go
  backend/AAiT-backend-group-12/delivery/router/auth_router.go
  backend/AAiT-backend-group-12/delivery/router/blog_router.go
  backend/AAiT-backend-group-12/domain/services.go
  backend/AAiT-backend-group-12/infrastructure/ai/ai_service.go
  backend/AAiT-backend-group-12/infrastructure/cryptography/hashing_service.go
  backend/AAiT-backend-group-12/infrastructure/db/root_user.go
  backend/AAiT-backend-group-12/infrastructure/jwt/jwt_service.go
  backend/AAiT-backend-group-12/infrastructure/mail/mail_service.go
  backend/AAiT-backend-group-12/infrastructure/mail/mail_templates.go
  backend/AAiT-backend-group-12/infrastructure/middleware/auth_middleware.go
  backend/AAiT-backend-group-12/infrastructure/utils/validate_blogs.go
  backend/AAiT-backend-group-12/usecase/blog_usecase.go
  backend/AAiT-backend-group-12/usecase/user_usecase.go
Labels: enhancement, aait-backend-g12

#1277 feat(blog): update GetBlogs and SearchBlogs to return BlogSummary ins…
  backend/ASTU-backend-group-4/blog/blog.go
  backend/ASTU-backend-group-4/blog/mongodb/blog_storage.go
  backend/ASTU-backend-group-4/blog/usecase.go
Labels: ASTU-Backend-G4

#1283 implemting updateUser feature
  backend/AAiT-backend-group-9/Blog_Starter/config/environment.go
  backend/AAiT-backend-group-9/Blog_Starter/domain/user.go
  backend/AAiT-backend-group-9/Blog_Starter/main.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/api/controller/ai_controller.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/api/controller/blog_controller.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/api/controller/like_controller.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/api/controller/login_controller.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/api/controller/logout_controller.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/api/controller/signUp_controller.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/api/controller/user_controller.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/api/middleware/auth_middleware.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/api/middleware/rate_limiter_middleware.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/api/middleware/upload_picture_middleware.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/api/router/login_route.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/api/router/router.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/api/router/signup_route.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/user_repository.go
  backend/AAiT-backend-group-9/Blog_Starter/uploads/cat.jpg
  backend/AAiT-backend-group-9/Blog_Starter/usecase/user_usecase.go
  backend/AAiT-backend-group-9/Blog_Starter/utils/infrastructure/ai_service.go
Labels: aait-backend-g9

#1305 make the CreateChatHandler function to accept a user id from the context
  backend/ASTU-backend-group-4/internal/http/gin/chat.go
Labels: ASTU-Backend-G4

#1315 blog usecase test
  backend/AASTU-backend-group-6/Delivery/controllers/temp.json
  backend/AASTU-backend-group-6/Domain/prompt.go
  backend/AASTU-backend-group-6/Domain/sucess_response.go
  backend/AASTU-backend-group-6/Domain/validate_domain.go
  backend/AASTU-backend-group-6/Infrastructure/token_util.go
  backend/AASTU-backend-group-6/Test/blog_usecase_test.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/Utils/filterReaction.go
  backend/AASTU-backend-group-6/cmd/main.go
Labels: AASTU-Backend-G6

#1299 1204 setup oauth2 implementation on the controller level
  backend/ASTU-backend-group-2/.env.example
  backend/ASTU-backend-group-2/api/controller/auth_controller.go
  backend/ASTU-backend-group-2/api/controller/oauth_controller.go
  backend/ASTU-backend-group-2/api/controller/profile_controller.go
  backend/ASTU-backend-group-2/api/route/auth_route.go
  backend/ASTU-backend-group-2/api/route/oAuth_route.go
  backend/ASTU-backend-group-2/api/route/route.go
  backend/ASTU-backend-group-2/bootstrap/database.go
  backend/ASTU-backend-group-2/bootstrap/env.go
  backend/ASTU-backend-group-2/cmd/main.go
  backend/ASTU-backend-group-2/domain/user.go
  backend/ASTU-backend-group-2/go.mod
  backend/ASTU-backend-group-2/go.sum
  backend/ASTU-backend-group-2/internal/auth/auth.go
  backend/ASTU-backend-group-2/repository/user_repository.go
  backend/ASTU-backend-group-2/usecase/user_usecase.go
Labels: ASTU-Backend-G2

#1340 1278 start the blog controllers
  backend/ASTU-backend-group-4/internal/http/gin/blog.go
Labels: ASTU-Backend-G4

#1347 :white_check_mark: usecase test ls done
  backend/AASTU-backend-group-6/Delivery/controllers/logout_controller_test.go
  backend/AASTU-backend-group-6/Delivery/controllers/refresh_token_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/refresh_route.go
  backend/AASTU-backend-group-6/Domain/infrastructure.go
  backend/AASTU-backend-group-6/Domain/refresh_token.go
  backend/AASTU-backend-group-6/Infrastructure/otp_util.go
  backend/AASTU-backend-group-6/Usecases/login_usecase_test.go
  backend/AASTU-backend-group-6/Usecases/logout_usecase_test.go
  backend/AASTU-backend-group-6/Usecases/refresh_token_usecase.go
  backend/AASTU-backend-group-6/Usecases/refresh_token_usecase_test.go
  backend/AASTU-backend-group-6/Usecases/signup_usecase_test.go
  backend/AASTU-backend-group-6/mocks/Infrastructure.go
Labels: AASTU-Backend-G6

#1351 route conflic resolution
  backend/AASTU-backend-group-5/delivery/assets/uploads/photo_2024-06-27_12-42-40.jpg
  backend/AASTU-backend-group-5/delivery/routes/main.route.go
Labels: fix

#1341 implement user activation functionality and relateds
  backend/ASTU-backend-group-4/.env
  backend/ASTU-backend-group-4/.gitignore
  backend/ASTU-backend-group-4/auth/auth.go
  backend/ASTU-backend-group-4/auth/error.go
  backend/ASTU-backend-group-4/auth/mongodb/auth_storage.go
  backend/ASTU-backend-group-4/auth/usecase.go
  backend/ASTU-backend-group-4/go.mod
  backend/ASTU-backend-group-4/pkg/infrastructure/email.go
Labels: ASTU-Backend-G4

#1342 Yeneineh.common starttesting and implementing blog use cases
  backend/ASTU-backend-group-1/Infrastructure/AuthController.go
  backend/ASTU-backend-group-1/Infrastructure/AuthControllerInterface.go
  backend/ASTU-backend-group-1/Infrastructure/AuthorizationInterface.go
  backend/ASTU-backend-group-1/Infrastructure/AuthorizationMiddleware.go
  backend/ASTU-backend-group-1/Infrastructure/authmiddleware.go
  backend/ASTU-backend-group-1/Infrastructure/jwt_server.go
  backend/ASTU-backend-group-1/Infrastructure/refine_blog.go
  backend/ASTU-backend-group-1/config.yaml
  backend/ASTU-backend-group-1/delivery/controllers/BlogController.go
  backend/ASTU-backend-group-1/delivery/controllers/user_controllers.go
  backend/ASTU-backend-group-1/delivery/main.go
  backend/ASTU-backend-group-1/delivery/routers/BlogRouter.go
  backend/ASTU-backend-group-1/delivery/routers/router.go
  backend/ASTU-backend-group-1/delivery/routers/userroutes.go
  backend/ASTU-backend-group-1/domain/blog.go
  backend/ASTU-backend-group-1/domain/user.go
  backend/ASTU-backend-group-1/repository/blogrepository_test.go
  backend/ASTU-backend-group-1/repository/blogrespository.go
  backend/ASTU-backend-group-1/repository/user_repository_test.go
  backend/ASTU-backend-group-1/repository/userrespository.go
  backend/ASTU-backend-group-1/usecases/BlogUsecases.go
  backend/ASTU-backend-group-1/usecases/user_usecase.go
Labels: ASTU BACKEND G1

#1368 Aastu.backend.g6.yordi.signup_and_Usercontroller_TestDone
  backend/AASTU-backend-group-6/Delivery/controllers/oauth_controller_test.go
  backend/AASTU-backend-group-6/Delivery/controllers/signup_controller.go
  backend/AASTU-backend-group-6/Delivery/controllers/signup_controller_test.go
  backend/AASTU-backend-group-6/Delivery/controllers/user_controller_test.go
  backend/AASTU-backend-group-6/Usecases/ai_usecase_test.go
  backend/AASTU-backend-group-6/Usecases/signup_usecase.go
  backend/AASTU-backend-group-6/go.mod
Labels: AASTU-Backend-G6

#1374 update blog usecase test
  backend/AASTU-backend-group-6/Usecases/blog_usecase_test.go
Labels: AASTU-Backend-G6

#1379 Controller testing implemented.
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller_test.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase_test.go
Labels: AASTU-Backend-G6

#1353 add getchat handler function implementation
  backend/ASTU-backend-group-4/internal/http/gin/chat.go
Labels: ASTU-Backend-G4

#1404 1384 add implementation for update blog controller
  backend/ASTU-backend-group-4/internal/http/gin/blog.go
Labels: ASTU-Backend-G4

#1408 feat(blog): add implementation for delete blog controller
  backend/ASTU-backend-group-4/internal/http/gin/blog.go
Labels: ASTU-Backend-G4

#1425 add sendmessage handler function implementation
  backend/ASTU-backend-group-4/internal/http/gin/chat.go
Labels: ASTU-Backend-G4

#1433 add generatechattitle handler function implementation
  backend/ASTU-backend-group-4/internal/http/gin/chat.go
Labels: ASTU-Backend-G4

#1441 aait.backend.g7.mohammed logout implemented
  backend/AAiT-backend-group-7/blog_project/delivery/controllers/user_controller.go
  backend/AAiT-backend-group-7/blog_project/delivery/main.go
  backend/AAiT-backend-group-7/blog_project/delivery/routers/router.go
  backend/AAiT-backend-group-7/blog_project/domain/user.go
  backend/AAiT-backend-group-7/blog_project/infrastructure/jwt_service.go
  backend/AAiT-backend-group-7/blog_project/infrastructure/middleware.go
  backend/AAiT-backend-group-7/blog_project/repositories/token_repository.go
  backend/AAiT-backend-group-7/blog_project/repositories/user_repository.go
  backend/AAiT-backend-group-7/blog_project/usecases/user_usecases.go
Labels: aait.backend.g7

#1450 add delete-chat handler function implementation
  backend/ASTU-backend-group-4/internal/http/gin/chat.go
Labels: ASTU-Backend-G4

#1436 feat:(Astu.backend.g2) blog filteration
  backend/ASTU-backend-group-2/api/controller/blog_controller.go
  backend/ASTU-backend-group-2/api/route/blog_route.go
  backend/ASTU-backend-group-2/bootstrap/database.go
  backend/ASTU-backend-group-2/cmd/main.go
  backend/ASTU-backend-group-2/domain/blog.go
  backend/ASTU-backend-group-2/domain/jwt_custom.go
  backend/ASTU-backend-group-2/go.sum
  backend/ASTU-backend-group-2/internal/tokenutil/tokenutil.go
  backend/ASTU-backend-group-2/repository/blog_repository.go
  backend/ASTU-backend-group-2/usecase/blog_usecase.go
  backend/ASTU-backend-group-2/usecase/user_usecase.go
Labels: ASTU-Backend-G2

#1452 feat: :sparkles: add change password functioality
  backend/ASTU-backend-group-2/api/controller/profile_controller.go
  backend/ASTU-backend-group-2/api/route/profile_route.go
  backend/ASTU-backend-group-2/domain/user.go
Labels: ASTU-Backend-G2

#1467 feat: Add route for serving public files
  backend/ASTU-backend-group-2/api/route/files_route.go
  backend/ASTU-backend-group-2/api/route/route.go
Labels: ASTU-Backend-G2

#1455 feat(blog): finished implementing the controllers
  backend/ASTU-backend-group-4/blog/blog.go
  backend/ASTU-backend-group-4/blog/usecase.go
  backend/ASTU-backend-group-4/internal/http/gin/blog.go
Labels: ASTU-Backend-G4

#1503 feat: Add Gemini API key to .env.example
  backend/ASTU-backend-group-2/.env.example
  backend/ASTU-backend-group-2/api/controller/chat_controller.go
  backend/ASTU-backend-group-2/bootstrap/env.go
  backend/ASTU-backend-group-2/cmd/main.go
  backend/ASTU-backend-group-2/go.mod
  backend/ASTU-backend-group-2/go.sum
  backend/ASTU-backend-group-2/internal/aiutil/chat_gemini.go
  backend/ASTU-backend-group-2/internal/aiutil/chat_gemini_test.go
  backend/ASTU-backend-group-2/internal/emailutil/email_template.go
  backend/ASTU-backend-group-2/internal/emailutil/emailutil.go
  backend/ASTU-backend-group-2/internal/emailutil/emailutil_test.go
Labels: ASTU-Backend-G2

#1515 finish the implementation of auth middleware
  backend/ASTU-backend-group-4/internal/http/gin/middleware.go
Labels: ASTU-Backend-G4

#1549 Aastu.backend.g6.yordi.rateLimitandResendOTP
  backend/AASTU-backend-group-6/Delivery/controllers/ai_controller_test.go
  backend/AASTU-backend-group-6/Delivery/controllers/signup_controller.go
  backend/AASTU-backend-group-6/Delivery/controllers/user_controller.go
  backend/AASTU-backend-group-6/Delivery/routers/signup_route.go
  backend/AASTU-backend-group-6/Domain/prompt.go
  backend/AASTU-backend-group-6/Domain/rate_limiter.go
  backend/AASTU-backend-group-6/Domain/user_domain.go
  backend/AASTU-backend-group-6/Infrastructure/rate_limiter.go
  backend/AASTU-backend-group-6/Usecases/ai_usecase.go
  backend/AASTU-backend-group-6/Usecases/signup_usecase.go
  backend/AASTU-backend-group-6/cmd/main.go
Labels: AASTU-Backend-G6

#1561 Aastu.backend.g6.adane
  backend/AASTU-backend-group-6/Delivery/controllers/login_controller.go
  backend/AASTU-backend-group-6/Delivery/controllers/login_controller_test.go
  backend/AASTU-backend-group-6/Delivery/controllers/logout_controller_test.go
  backend/AASTU-backend-group-6/Delivery/controllers/oauth_controller_test.go
  backend/AASTU-backend-group-6/Delivery/controllers/user_controller_test.go
  backend/AASTU-backend-group-6/Infrastructure/password_service.go
  backend/AASTU-backend-group-6/Usecases/login_usecase_test.go
  backend/AASTU-backend-group-6/cmd/main.go
Labels: AASTU-Backend-G6

#1583 error handling for page number and size
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Utils/PagePaginationValidater.go
Labels: AASTU-Backend-G6

#1597 Aait.backend.g12.enyew.testing
  backend/AAiT-backend-group-12/tests/blog_controller_test.go
  backend/AAiT-backend-group-12/tests/comment_controller_test.go
Labels: aait-backend-g12

#1658 aait.backend.g7.mohammed-testing-started
  backend/AAiT-backend-group-7/blog_project/docs/api_documentation.md
  backend/AAiT-backend-group-7/blog_project/go.mod
  backend/AAiT-backend-group-7/blog_project/go.sum
  backend/AAiT-backend-group-7/blog_project/tests/blog_controller_test.go
  backend/AAiT-backend-group-7/blog_project/tests/blog_usecases_test.go
  backend/AAiT-backend-group-7/blog_project/tests/init.go
  backend/AAiT-backend-group-7/blog_project/tests/mocks/mock_blog_repository.go
  backend/AAiT-backend-group-7/blog_project/tests/mocks/mock_blog_usecases.go
  backend/AAiT-backend-group-7/blog_project/tests/mocks/mock_user_repository.go
  backend/AAiT-backend-group-7/blog_project/tests/mocks/mock_user_usecases.go
  backend/AAiT-backend-group-7/blog_project/tests/user_controller_test.go
  backend/AAiT-backend-group-7/blog_project/tests/user_usecases_test.go
Labels: aait.backend.g7

#1653 feat: Update route setup to include Cloudinary service
  backend/ASTU-backend-group-2/.env.example
  backend/ASTU-backend-group-2/api/controller/profile_controller.go
  backend/ASTU-backend-group-2/api/middleware/file_upload_middleware.go
  backend/ASTU-backend-group-2/api/route/profile_route.go
  backend/ASTU-backend-group-2/api/route/route.go
  backend/ASTU-backend-group-2/bootstrap/app.go
  backend/ASTU-backend-group-2/bootstrap/cloudinary.go
  backend/ASTU-backend-group-2/bootstrap/env.go
  backend/ASTU-backend-group-2/cmd/main.go
  backend/ASTU-backend-group-2/go.mod
  backend/ASTU-backend-group-2/go.sum
  backend/ASTU-backend-group-2/internal/assetutil/cloudinary.go
Labels: ASTU-Backend-G2

#1672 feat: :sparkles: implement password reset functionality
  backend/ASTU-backend-group-2/.env.example
  backend/ASTU-backend-group-2/api/controller/reset_password_controller.go
  backend/ASTU-backend-group-2/api/route/reset_password.go
  backend/ASTU-backend-group-2/api/route/route.go
  backend/ASTU-backend-group-2/bootstrap/env.go
  backend/ASTU-backend-group-2/domain/reset_password.go
  backend/ASTU-backend-group-2/domain/user.go
  backend/ASTU-backend-group-2/internal/emailutil/email_otp_template.go
  backend/ASTU-backend-group-2/internal/emailutil/emailutil.go
  backend/ASTU-backend-group-2/internal/emailutil/emailutil_test.go
  backend/ASTU-backend-group-2/internal/otputil/otputil.go
  backend/ASTU-backend-group-2/internal/otputil/otputil_test.go
  backend/ASTU-backend-group-2/repository/reset_password_repository.go
  backend/ASTU-backend-group-2/repository/reset_password_repository_test.go
  backend/ASTU-backend-group-2/repository/user_repository.go
  backend/ASTU-backend-group-2/usecase/reset_password_usecase.go
  backend/ASTU-backend-group-2/usecase/user_usecase.go
Labels: ASTU-Backend-G2

#1680 add appBar and input bar to chat screen
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/presentation/pages/individual_chat_page.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/presentation/widgets/current_user.dart
Labels: aait-mobile-g2

#1343 Astu.web.g1.ephrem.1159 astu web g1 ephrem write test for card bank service list
  web/ASTU-web-group-1/astu.web.g1.bank-dash/.gitignore
  web/ASTU-web-group-1/astu.web.g1.bank-dash/__test__/bank-service-list.test.tsx
  web/ASTU-web-group-1/astu.web.g1.bank-dash/__test__/mycard.test.tsx
  web/ASTU-web-group-1/astu.web.g1.bank-dash/__test__/temp.ts
  web/ASTU-web-group-1/astu.web.g1.bank-dash/jest.config.ts
  web/ASTU-web-group-1/astu.web.g1.bank-dash/package-lock.json
  web/ASTU-web-group-1/astu.web.g1.bank-dash/package.json
  web/ASTU-web-group-1/astu.web.g1.bank-dash/src/components/BankServicesList/BankServicesList.tsx
  web/ASTU-web-group-1/astu.web.g1.bank-dash/src/components/MyCard/MyCard.tsx
  web/ASTU-web-group-1/astu.web.g1.bank-dash/src/components/TableButton/TableButton.tsx
  web/ASTU-web-group-1/astu.web.g1.bank-dash/tsconfig.json
Labels: ASTU-WEB-G1

#1699 fix(chat): update the parameter of the AIService constructor
  backend/ASTU-backend-group-4/chat/gemini_ai/ai-service.go
Labels: ASTU-Backend-G4

#1706 chore: refactored chat page
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/mockData/mock_chat_data.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/presentation/pages/individual_chat_page.dart
Labels: aait-mobile-g2

#1724 Astu.backend.g2.saleamlak.fix reset password and authentication issues
  backend/ASTU-backend-group-2/api/controller/refresh_token_controller.go
  backend/ASTU-backend-group-2/api/route/auth_route.go
  backend/ASTU-backend-group-2/internal/tokenutil/tokenutil.go
Labels: ASTU-Backend-G2

#1735 Use the commit before this one as a fallback.
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Domain/blog_domain.go
  backend/AASTU-backend-group-6/Domain/user_domain.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/Utils/make_primitive_list.go
Labels: AASTU-Backend-G6

#1739 Aastu.backend.g6.adane
  backend/AASTU-backend-group-6/Delivery/routers/signup_route.go
  backend/AASTU-backend-group-6/Domain/ai_domain.go
  backend/AASTU-backend-group-6/Domain/jwt_custom.go
  backend/AASTU-backend-group-6/Domain/unverified_user.go
  backend/AASTU-backend-group-6/Infrastructure/auth_middleWare.go
  backend/AASTU-backend-group-6/Infrastructure/lodeEnv.go
  backend/AASTU-backend-group-6/Infrastructure/token_util.go
  backend/AASTU-backend-group-6/Repositories/unverified_user_repository.go
  backend/AASTU-backend-group-6/Usecases/ai_usecase.go
  backend/AASTU-backend-group-6/Usecases/login_usecase.go
  backend/AASTU-backend-group-6/Usecases/refresh_token_usecase.go
  backend/AASTU-backend-group-6/Usecases/signup_usecase.go
  backend/AASTU-backend-group-6/Usecases/signup_usecase_test.go
  backend/AASTU-backend-group-6/mocks/UnverifiedUserRepository.go
Labels: AASTU-Backend-G6

#1756 Astu.backend.g2.dagota12.usecase
  backend/ASTU-backend-group-2/api/controller/blog_controller.go
  backend/ASTU-backend-group-2/api/controller/profile_controller.go
  backend/ASTU-backend-group-2/api/route/blog_route.go
  backend/ASTU-backend-group-2/domain/blog.go
  backend/ASTU-backend-group-2/go.sum
  backend/ASTU-backend-group-2/repository/blog_repository.go
  backend/ASTU-backend-group-2/repository/comment_repository.go
  backend/ASTU-backend-group-2/repository/user_repository.go
  backend/ASTU-backend-group-2/usecase/blog_usecase.go
  backend/ASTU-backend-group-2/usecase/comment_usecase.go
Labels: ASTU-Backend-G2

#1744 add model response as the first message for new chats
  backend/ASTU-backend-group-4/chat/usecase.go
Labels: ASTU-Backend-G4

#1779 :heavy_plus_sign: Add web_socket_channel dependency
  mobile/AASTU-mobile-group-5/pubspec.lock
  mobile/AASTU-mobile-group-5/pubspec.yaml
Labels: AASTU-Mobile-G5

#1783 GetBlogById endpoint updated.
  backend/AASTU-backend-group-6/Delivery/routers/route.go
  backend/AASTU-backend-group-6/Domain/blog_domain.go
  backend/AASTU-backend-group-6/Infrastructure/lodeEnv.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Utils/checkReaction.go
  backend/AASTU-backend-group-6/Utils/create_pipeline.go
  backend/AASTU-backend-group-6/mongo/mongo.go
Labels: AASTU-Backend-G6

#1784 Aait.backend.g1.haile.cache
  backend/AAiT-backend-group-1/delivery/main.go
  backend/AAiT-backend-group-1/domain/infrastructure_interfaces.go
  backend/AAiT-backend-group-1/infrastructure/jwt_service.go
  backend/AAiT-backend-group-1/mocks/blog_assistant_usecase_mock.go
  backend/AAiT-backend-group-1/tests/blog_assistant_usecase_test.go
Labels: aait-backend-g1

#1796 :bento: Add usecases and repository for message enitity
  mobile/AASTU-mobile-group-5/lib/features/chat/domain/repositories/message_repository.dart
  mobile/AASTU-mobile-group-5/lib/features/chat/domain/use_case/delete_message.dart
  mobile/AASTU-mobile-group-5/lib/features/chat/domain/use_case/get_messages.dart
  mobile/AASTU-mobile-group-5/lib/features/chat/domain/use_case/send_message.dart
Labels: AASTU-Mobile-G5

#1798 Update route setup to include Cloudinary service
  backend/ASTU-backend-group-2/api/controller/blog_controller.go
  backend/ASTU-backend-group-2/api/controller/oauth_controller.go
  backend/ASTU-backend-group-2/api/controller/profile_controller.go
  backend/ASTU-backend-group-2/api/controller/signup_controller.go
  backend/ASTU-backend-group-2/api/middleware/jwt_auth_middleware.go
  backend/ASTU-backend-group-2/api/route/auth_route.go
  backend/ASTU-backend-group-2/api/route/blog_route.go
  backend/ASTU-backend-group-2/api/route/reset_password.go
  backend/ASTU-backend-group-2/api/route/route.go
  backend/ASTU-backend-group-2/api/route/verification_route.go
  backend/ASTU-backend-group-2/domain/blog.go
  backend/ASTU-backend-group-2/domain/jwt_custom.go
  backend/ASTU-backend-group-2/domain/reset_password.go
  backend/ASTU-backend-group-2/domain/signup.go
  backend/ASTU-backend-group-2/domain/user.go
  backend/ASTU-backend-group-2/internal/tokenutil/tokenutil.go
  backend/ASTU-backend-group-2/repository/blog_repository.go
  backend/ASTU-backend-group-2/repository/reset_password_repository.go
  backend/ASTU-backend-group-2/repository/user_repository.go
  backend/ASTU-backend-group-2/usecase/refresh_token_usecase.go
Labels: ASTU-Backend-G2

#1833 feat(aait.mobile.g2)chat list page and supporting widgets added
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/presentation/pages/chat_list_page.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/presentation/widgets/chat_list_widget.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/presentation/widgets/plus_button.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/presentation/widgets/story_circle.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/main.dart
Labels: aait-mobile-g2

#1842 feat: (aait.mobile.g2) implemented the domain layer for chat feature
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/data/repositories/chat_repository_impl.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/domain/entities/message_entity.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/domain/entities/message_sender_entity.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/domain/entities/user_chat_entity.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/domain/repositories/chat_repository.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/domain/usecases/get_chats_usecase.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/domain/usecases/get_messages_usecase.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/domain/usecases/initiate_chat_usecase.dart
Labels: aait-mobile-g2

#1866 Aastu.backend.g6.adane
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller_test.go
  backend/AASTU-backend-group-6/Delivery/controllers/login_controller.go
  backend/AASTU-backend-group-6/Delivery/controllers/login_controller_test.go
  backend/AASTU-backend-group-6/Delivery/controllers/signup_controller.go
  backend/AASTU-backend-group-6/Delivery/controllers/signup_controller_test.go
  backend/AASTU-backend-group-6/Domain/unverified_user.go
  backend/AASTU-backend-group-6/Domain/user_domain.go
  backend/AASTU-backend-group-6/Infrastructure/auth_middleWare.go
  backend/AASTU-backend-group-6/Infrastructure/token_util.go
  backend/AASTU-backend-group-6/Repositories/unverified_user_repository.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase_test.go
  backend/AASTU-backend-group-6/Usecases/oauth_usecase.go
  backend/AASTU-backend-group-6/Usecases/signup_usecase.go
  backend/AASTU-backend-group-6/Usecases/signup_usecase_test.go
  backend/AASTU-backend-group-6/Utils/checkReaction.go
  backend/AASTU-backend-group-6/go.mod
  backend/AASTU-backend-group-6/mocks/BlogRepository.go
  backend/AASTU-backend-group-6/mocks/BlogUsecase.go
  backend/AASTU-backend-group-6/mocks/SignupUseCase.go
  backend/AASTU-backend-group-6/mocks/UnverifiedUserRepository.go
Labels: AASTU-Backend-G6

#1876 Aastu.backend.g6.daniel
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Domain/blog_domain.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/Utils/checkReaction.go
  backend/AASTU-backend-group-6/Utils/filterReaction.go
Labels: AASTU-Backend-G6

#1766 fix updating chat title
  backend/ASTU-backend-group-4/chat/chat.go
  backend/ASTU-backend-group-4/chat/usecase.go
Labels: ASTU-Backend-G4

#1893 Filter and Search endpoint updated.
  backend/AASTU-backend-group-6/Delivery/controllers/blog_controller.go
  backend/AASTU-backend-group-6/Repositories/blog_repositories.go
  backend/AASTU-backend-group-6/Usecases/blog_usecase.go
  backend/AASTU-backend-group-6/Utils/filterTaskByUserID.go
Labels: AASTU-Backend-G6

#1793 Aait.backend.g9.eyob.repository test
  backend/AAiT-backend-group-9/Blog_Starter/go.mod
  backend/AAiT-backend-group-9/Blog_Starter/go.sum
  backend/AAiT-backend-group-9/Blog_Starter/repository/blog_comment_repository.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/blog_repository.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/otp_repository.go
  backend/AAiT-backend-group-9/Blog_Starter/repository/user_repository.go
  backend/AAiT-backend-group-9/Blog_Starter/test/blogRepo_test.go
  backend/AAiT-backend-group-9/Blog_Starter/test/blog_comment_repository_test.go
  backend/AAiT-backend-group-9/Blog_Starter/test/blog_rating_repository_test.go
  backend/AAiT-backend-group-9/Blog_Starter/test/like_repository_test.go
  backend/AAiT-backend-group-9/Blog_Starter/test/otp_repository_test.go
  backend/AAiT-backend-group-9/Blog_Starter/test/user_repository_test.go
Labels: aait-backend-g9

#1895 aait.backend.g7.mohammed-bug-fixes
  backend/AAiT-backend-group-7/blog_project/delivery/controllers/user_controller.go
  backend/AAiT-backend-group-7/blog_project/delivery/main.go
  backend/AAiT-backend-group-7/blog_project/delivery/routers/router.go
  backend/AAiT-backend-group-7/blog_project/domain/blog.go
  backend/AAiT-backend-group-7/blog_project/domain/user.go
  backend/AAiT-backend-group-7/blog_project/repositories/blog_repository.go
  backend/AAiT-backend-group-7/blog_project/repositories/user_repository.go
  backend/AAiT-backend-group-7/blog_project/tests/init.go
  backend/AAiT-backend-group-7/blog_project/tests/user_usecases_test.go
  backend/AAiT-backend-group-7/blog_project/usecases/blog_usecases.go
  backend/AAiT-backend-group-7/blog_project/usecases/user_usecases.go
Labels: aait.backend.g7

#1947 feat: Add new form files for user, login, signup and reaction
  backend/ASTU-backend-group-2/api/controller/blog_controller.go
  backend/ASTU-backend-group-2/api/controller/chat_controller.go
  backend/ASTU-backend-group-2/api/controller/login_controller.go
  backend/ASTU-backend-group-2/api/controller/logout_controller.go
  backend/ASTU-backend-group-2/api/controller/oauth_controller.go
  backend/ASTU-backend-group-2/api/controller/profile_controller.go
  backend/ASTU-backend-group-2/api/controller/refresh_token_controller.go
  backend/ASTU-backend-group-2/api/controller/reset_password_controller.go
  backend/ASTU-backend-group-2/api/controller/signup_controller.go
  backend/ASTU-backend-group-2/api/middleware/jwt_auth_middleware.go
  backend/ASTU-backend-group-2/api/route/auth_route.go
  backend/ASTU-backend-group-2/api/route/blog_route.go
  backend/ASTU-backend-group-2/api/route/oAuth_route.go
  backend/ASTU-backend-group-2/api/route/profile_route.go
  backend/ASTU-backend-group-2/api/route/reset_password.go
  backend/ASTU-backend-group-2/api/route/route.go
  backend/ASTU-backend-group-2/domain/blog.go
  backend/ASTU-backend-group-2/domain/entities/blog.go
  backend/ASTU-backend-group-2/domain/entities/chat.go
  backend/ASTU-backend-group-2/domain/entities/comment.go
  backend/ASTU-backend-group-2/domain/entities/error_response.go
  backend/ASTU-backend-group-2/domain/entities/jwt_custom.go
  backend/ASTU-backend-group-2/domain/entities/login.go
  backend/ASTU-backend-group-2/domain/entities/paginationated_response.go
  backend/ASTU-backend-group-2/domain/entities/reaction.go
  backend/ASTU-backend-group-2/domain/entities/refresh_token.go
  backend/ASTU-backend-group-2/domain/entities/reset_password.go
  backend/ASTU-backend-group-2/domain/entities/signup.go
  backend/ASTU-backend-group-2/domain/entities/success_response.go
  backend/ASTU-backend-group-2/domain/entities/user.go
  backend/ASTU-backend-group-2/domain/forms/blog_form.go
  backend/ASTU-backend-group-2/domain/forms/comment_form.go
  backend/ASTU-backend-group-2/domain/forms/login_form.go
  backend/ASTU-backend-group-2/domain/forms/reaction_form.go
  backend/ASTU-backend-group-2/domain/forms/reset_password_form.go
  backend/ASTU-backend-group-2/domain/forms/signup_form.go
  backend/ASTU-backend-group-2/domain/forms/user_form.go
  backend/ASTU-backend-group-2/domain/success_response.go
  backend/ASTU-backend-group-2/internal/aiutil/chat_gemini.go
  backend/ASTU-backend-group-2/internal/aiutil/chat_gemini_test.go
  backend/ASTU-backend-group-2/internal/tokenutil/tokenutil.go
  backend/ASTU-backend-group-2/repository/action_repository.go
  backend/ASTU-backend-group-2/repository/blog_repository.go
  backend/ASTU-backend-group-2/repository/chat_repository.go
  backend/ASTU-backend-group-2/repository/comment_repository.go
  backend/ASTU-backend-group-2/repository/reset_password_repository.go
  backend/ASTU-backend-group-2/repository/user_repository.go
  backend/ASTU-backend-group-2/usecase/blog_usecase.go
  backend/ASTU-backend-group-2/usecase/comment_usecase.go
  backend/ASTU-backend-group-2/usecase/login_usecase.go
  backend/ASTU-backend-group-2/usecase/logout_usecase.go
  backend/ASTU-backend-group-2/usecase/reaction_usecase.go
  backend/ASTU-backend-group-2/usecase/refresh_token_usecase.go
  backend/ASTU-backend-group-2/usecase/reset_password_usecase.go
  backend/ASTU-backend-group-2/usecase/signup_usecase.go
  backend/ASTU-backend-group-2/usecase/user_usecase.go
Labels: ASTU-Backend-G2

#1911 feat(aait.mobile.g2)refactor the version 2 code to version 3 added
  mobile/AAiT-mobile-group-2/ecom_app/lib/core/constants/constants.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/auth/data/datasources/auth_remote_data_source.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/product/data/datasources/product_remote_data_source.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/product/data/models/product_model.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/product/data/models/seller_model.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/product/domain/entities/product.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/product/domain/entities/seller.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/product/presentation/bloc/product_bloc.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/main.dart
  mobile/AAiT-mobile-group-2/ecom_app/test/features/product/data/datasources/product_local_data_source_test.dart
  mobile/AAiT-mobile-group-2/ecom_app/test/features/product/data/datasources/product_remote_data_source_test.dart
  mobile/AAiT-mobile-group-2/ecom_app/test/features/product/data/models/product_model_test.dart
  mobile/AAiT-mobile-group-2/ecom_app/test/features/product/data/models/seller_model_test.dart
  mobile/AAiT-mobile-group-2/ecom_app/test/features/product/data/repositories/product_repository_impl_test.dart
  mobile/AAiT-mobile-group-2/ecom_app/test/helpers/fixtures/dummy_product_response.json
  mobile/AAiT-mobile-group-2/ecom_app/test/helpers/fixtures/dummy_products_cached.json
  mobile/AAiT-mobile-group-2/ecom_app/test/helpers/fixtures/dummy_seller_response.json
  mobile/AAiT-mobile-group-2/ecom_app/test/helpers/fixtures/mock_product_api.json
  mobile/AAiT-mobile-group-2/ecom_app/test/helpers/fixtures/mock_products_list_api.json
Labels: aait-mobile-g2

#1954 feat: :sparkles: create an error wrapper
  backend/ASTU-backend-group-2/domain/entities/error_response.go
Labels: ASTU-Backend-G2

#1962 Astu.web.g1.ephrem.1159 astu web g1 ephrem edit scrollable style
  web/ASTU-web-group-1/astu.web.g1.bank-dash/package-lock.json
  web/ASTU-web-group-1/astu.web.g1.bank-dash/src/app/bank-dash/credit-card/page.tsx
  web/ASTU-web-group-1/astu.web.g1.bank-dash/src/app/bank-dash/page.tsx
  web/ASTU-web-group-1/astu.web.g1.bank-dash/src/app/bank-dash/transactions/page.tsx
  web/ASTU-web-group-1/astu.web.g1.bank-dash/src/app/globals.css
  web/ASTU-web-group-1/astu.web.g1.bank-dash/src/components/BankServicesList/BankServicesList.tsx
  web/ASTU-web-group-1/astu.web.g1.bank-dash/src/components/CardSettings/CardSettings.tsx
  web/ASTU-web-group-1/astu.web.g1.bank-dash/src/components/MyCard/MyCard.tsx
  web/ASTU-web-group-1/astu.web.g1.bank-dash/src/components/Welcome-landingPage/WelcomeDashboard.tsx
Labels: ASTU-WEB-G1

#1961 chore (aait.mobile.g2): implemented data layer
  mobile/AAiT-mobile-group-2/ecom_app/analysis_options.yaml
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/auth/data/datasources/auth_local_data_source.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/auth/data/repositories/auth_repository_impl.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/data/datasources/chat_remote_data_source.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/data/models/message_model.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/data/models/message_sender_model.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/data/models/user_chat_model.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/data/repositories/chat_repository_impl.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/domain/repositories/chat_repository.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/domain/usecases/initiate_chat_usecase.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/presentation/bloc/chat_bloc.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/presentation/bloc/chat_event.dart
  mobile/AAiT-mobile-group-2/ecom_app/lib/features/chat/presentation/bloc/chat_state.dart
  mobile/AAiT-mobile-group-2/ecom_app/test/features/chat/data/datasources/chat_remote_data_source_test.dart
Labels: aait-mobile-g2

#1878 add testing on auth and oauth controller
  backend/AAiT-backend-group-12/tests/auth_controller_test.go
  backend/AAiT-backend-group-12/tests/blog_controller_test.go
  backend/AAiT-backend-group-12/tests/oauth_controller_test.go
Labels: aait-backend-g12

#1997 Added tests and documentation
  backend/AAiT-backend-group-12/.gitignore
  backend/AAiT-backend-group-12/README.md
  backend/AAiT-backend-group-12/delivery/controllers/comment_controller.go
  backend/AAiT-backend-group-12/delivery/controllers/oauth_controller.go
  backend/AAiT-backend-group-12/delivery/env/env.go
  backend/AAiT-backend-group-12/delivery/main.go
  backend/AAiT-backend-group-12/delivery/router/oauth_router.go
  backend/AAiT-backend-group-12/docs/Class Diagram.drawio.svg
  backend/AAiT-backend-group-12/docs/api_documentation.md
  backend/AAiT-backend-group-12/domain/services.go
  backend/AAiT-backend-group-12/go.mod
  backend/AAiT-backend-group-12/go.sum
  backend/AAiT-backend-group-12/infrastructure/ai/ai_service.go
  backend/AAiT-backend-group-12/infrastructure/mail/mail_service.go
  backend/AAiT-backend-group-12/infrastructure/middleware/auth_middleware.go
  backend/AAiT-backend-group-12/infrastructure/oauth/google_auth.go
  backend/AAiT-backend-group-12/infrastructure/utils/validate_blogs.go
  backend/AAiT-backend-group-12/mocks/AIModelInterface.go
  backend/AAiT-backend-group-12/mocks/AIServicesInterface.go
  backend/AAiT-backend-group-12/mocks/BlogRepositoryInterface.go
  backend/AAiT-backend-group-12/mocks/BlogUseCaseInterface.go
  backend/AAiT-backend-group-12/mocks/CacheRepositoryInterface.go
  backend/AAiT-backend-group-12/mocks/CodedError.go
  backend/AAiT-backend-group-12/mocks/HashingServiceInterface.go
  backend/AAiT-backend-group-12/mocks/JWTServiceInterface.go
  backend/AAiT-backend-group-12/mocks/MailServiceInterface.go
  backend/AAiT-backend-group-12/mocks/UserRepositoryInterface.go
  backend/AAiT-backend-group-12/mocks/UserUsecaseInterface.go
  backend/AAiT-backend-group-12/repository/blog_repository.go
  backend/AAiT-backend-group-12/repository/user_repository.go
  backend/AAiT-backend-group-12/tests/ai_service_test.go
  backend/AAiT-backend-group-12/tests/auth_controller_test.go
  backend/AAiT-backend-group-12/tests/blog_controller_test.go
  backend/AAiT-backend-group-12/tests/blog_repository_test.go
  backend/AAiT-backend-group-12/tests/blog_usecase_test.go
  backend/AAiT-backend-group-12/tests/cache_repository_test.go
  backend/AAiT-backend-group-12/tests/comment_controller_test.go
  backend/AAiT-backend-group-12/tests/hashing_service_test.go
  backend/AAiT-backend-group-12/tests/jwt_service_test.go
  backend/AAiT-backend-group-12/tests/mail_service_test.go
  backend/AAiT-backend-group-12/tests/middleware_test.go
  backend/AAiT-backend-group-12/tests/oauth_controller_test.go
  backend/AAiT-backend-group-12/tests/oauth_service_test.go
  backend/AAiT-backend-group-12/tests/user_repository_test.go
  backend/AAiT-backend-group-12/tests/user_usecase_test.go
  backend/AAiT-backend-group-12/tests/utils_test.go
  backend/AAiT-backend-group-12/usecase/blog_usecase.go
  backend/AAiT-backend-group-12/usecase/user_usecase.go
Labels: documentation, enhancement, aait-backend-g12

#2009 feat(blog): changed the primitive id to string
  backend/ASTU-backend-group-4/blog/mongodb/blog_storage.go
Labels: ASTU-Backend-G4

#2010 fix the id issue in chat repository
  backend/ASTU-backend-group-4/chat/mongodb/chat_storage.go
Labels: ASTU-Backend-G4

#2022 feat(auth): fix up everything related to the id and token
  backend/ASTU-backend-group-4/auth/mongodb/auth_storage.go
Labels: ASTU-Backend-G4

#2023 feat: Refactor blog author field to use pointer in entities and usecase
  backend/ASTU-backend-group-2/domain/entities/blog.go
  backend/ASTU-backend-group-2/domain/entities/user.go
  backend/ASTU-backend-group-2/repository/blog_repository.go
  backend/ASTU-backend-group-2/usecase/blog_usecase.go
  backend/ASTU-backend-group-2/usecase/chat_usecase.go
Labels: ASTU-Backend-G2

#2029 data layer set up
  mobile/ASTU-mobile-group-2/ecommers/lib/core/const/const.dart
  mobile/ASTU-mobile-group-2/ecommers/lib/features/chat/data/datasource/chat_local_data.dart
  mobile/ASTU-mobile-group-2/ecommers/lib/features/chat/data/datasource/chat_remote_data.dart
  mobile/ASTU-mobile-group-2/ecommers/lib/features/chat/data/model/chat_model.dart
  mobile/ASTU-mobile-group-2/ecommers/lib/features/chat/data/repository_implimentation/chat_repo_impl.dart
  mobile/ASTU-mobile-group-2/ecommers/lib/features/chat/domain/usecase/chat_usecase.dart
  mobile/ASTU-mobile-group-2/ecommers/pubspec.lock
Labels: astu-mobile-g2

#2030 added folder structure
  mobile/ASTU-mobile-group-3/ecommerce_app/lib/features/chat/README.md
Labels: ASTU-MOBILE-G3

#2034 feat: Refactor blog author field to use pointer in entities and usecase
  backend/ASTU-backend-group-2/api/route/blog_route.go
  backend/ASTU-backend-group-2/domain/entities/blog.go
  backend/ASTU-backend-group-2/repository/blog_repository.go
  backend/ASTU-backend-group-2/repository/comment_repository.go
Labels: ASTU-Backend-G2

#2044 domain layer entity implementation
  mobile/ASTU-mobile-group-3/ecommerce_app/.vscode/settings.json
  mobile/ASTU-mobile-group-3/ecommerce_app/lib/features/chat/domain/entity/chat.dart
  mobile/ASTU-mobile-group-3/ecommerce_app/lib/features/chat/domain/entity/db.json
  mobile/ASTU-mobile-group-3/ecommerce_app/lib/features/chat/domain/entity/message.dart
Labels: ASTU-MOBILE-G3

#2046 repository implementation
  mobile/ASTU-mobile-group-3/ecommerce_app/lib/features/chat/domain/entities/chat.dart
  mobile/ASTU-mobile-group-3/ecommerce_app/lib/features/chat/domain/entities/message.dart
  mobile/ASTU-mobile-group-3/ecommerce_app/lib/features/chat/domain/entity/db.json
  mobile/ASTU-mobile-group-3/ecommerce_app/lib/features/chat/domain/repository/chat_repository.dart
Labels: ASTU-MOBILE-G3
